/*At Table level*/
.statusColour{
	color: red;
}
span[data-colorclass="Late"] {
color:red !important;
}
span[data-colorclass="In-Progress"] {
color: #5496cd !important;
}
span[data-colorclass="Closed"] {
color:green !important;
}

/*At Header Level*/
div[data-colorclass="Late"] .sapMTextLineClamp.sapMTextMaxLine{
color:red !important;
}
div[data-colorclass="In-Progress"] .sapMTextLineClamp.sapMTextMaxLine{
color:#5496cd !important;
}
div[data-colorclass="Closed"] .sapMTextLineClamp.sapMTextMaxLine{
color:green !important;
}

